---

---

%header.header
  %h1.logo
    = link_to 'SAMPLE SITE', '/'
  %nav.global-nav
    %ul
      %li.nav-item.active= link_to 'HOME', '#'
      %li.nav-item= link_to 'ABOUT', '#'
      %li.nav-item= link_to 'NEWS', '#'
      %li.nav-item= link_to 'TOPICS', '#'
      %li.nav-item= link_to 'DOCS', '#'
      %li.nav-item= link_to 'BLOG', '#'
.wrapper.clearfix
  %main.main
  .sidemenu
%footer.footer
