---

---

%header.header
  %h1.logo
    = link_to 'SAMPLE SITE', '/'
  %nav.global-nav
    %ul
      %li.nav-item.active= link_to 'HOME', '#'
      %li.nav-item= link_to 'ABOUT', '#'
      %li.nav-item= link_to 'NEWS', '#'
      %li.nav-item= link_to 'TOPICS', '#'
      %li.nav-item= link_to 'DOCS', '#'
      %li.nav-item= link_to 'BLOG', '#'
.wrapper.clearfix
  %main.main
    %h2.hidden HOT TOPIC
    = link_to '#', class: 'hot-topic clearfix' do
      = tag :img, src: './images/hot-topic.jpg', alt: 'コーディング画面', class: :image
      .content
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc Webフロントエンドの進化の勢いはとどまるところを知りません。新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用して…
        %time.date{datetime: '2015-09-01'} 2015.09.01 TUE
    %h2.heading NEWS
    %ul.scroll-list
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-23' }2015.08.23 SUN
          %span.category.news NEWS
          %span.title WORKSを更新しました
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
      %li.scroll-item
        %a{href: '#'}
          %time.date{ datetime: '2015-08-12' }2015.08.12 WED
          %span.category TOPIC
          %span.title CSSでここまでできる！？ほんとに使えるCSSセレクタ10選！
    %h2.hidden ARTICLES
    .clearfix
      %a.article-box{ href: '#' }
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{ datetime: '2015-06-17'} 2015.06.17 WED
        %img.image{ src: './images/article.jpg', alt: 'コーディング画面' }
      %a.article-box{ href: '#' }
        %h3.title 実務で使えるHTML/CSSモダンコーディングTIPS
        %p.desc 新しい要素が増えて大幅に表現力が広がったHTML5/CSS3を活用し、モダンなコーディングにチャレンジしましょう！
        %time.date{ datetime: '2015-06-17'} 2015.06.17 WED
        %img.image{ src: './images/article.jpg', alt: 'コーディング画面' }
  .sidemenu
    %h2.heading RANKING
    %ol.ranking
      %li.ranking-item
        %a{ herf: '#' }
          %img.image{ src: './images/ranking.jpg', alt: 'グラフの画像' }
          %span.order
          %p.text HTML/CSSコーディングと切っても切れないWebブラウザのシェア動向をチェックしよう
%footer.footer
